@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #080441;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

/* HEADER */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    background: #0f1623;
    height: 10dvh;
}

nav{
    display: flex;
    gap: 2rem;
    margin: 0 2rem;
    align-items: center;
}

.linkPostarSonho{
    border-radius: 10px;
    background: #029ce4;
    color: #111;
    padding: 10px;
    text-decoration: none;
}

.menuFeed{
    display: flex;
    align-items: center;
    background: #111;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

header input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 25rem;
}


/* MAIN */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 20rem 2rem;
}

#sonho{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    margin: 2rem 1rem;
    background: #0f1623;
    border-radius: 10px;
    border: 1px solid #111;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

.sonho button{
    background: #111;
    color: #fff;
    padding: 10px;
    border: none;
    border: 1px solid #444;
    border-radius: 10px;
}

.buttonsDreams{
    display: flex;
    align-items: self-end;
    justify-content: end;
}

.moreDream{
    border-radius: 10px;
    background: #eee;
    color: #111;
    padding: 10px;
}

.tagsEngajamento{
    color: #029ce4;
    background: #26006d;
    padding: 8px;
    border-radius: 10px;
    margin: 2px;
    text-decoration: none;
}

.botaoCurtir, .botaoComentar, .botaoAddFavoritos{
    display: flex;
    background: #222;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 5px;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 5px;
    font-size: large;
}

.botaoCurtir{
    color: red;
}

.botaoComentar{
    color: #fff;
}

.botaoAddFavoritos{
    color: gray;
}

.verMaisDentro{
    display: flex;
    background: #555;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 5px;
    padding: 1rem;
    border-radius: 8px;
    color: rgb(0, 132, 255);
    letter-spacing: 1px;
    font-weight: 600;
}

/* FOOTER */